force-app/main/default/flows/Update_Stock_Qty_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Stock_1</name>
        <label>Update Stock</label>
        <locationX>1015</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Qty_In_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Difference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Child_Parts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stock_3</name>
        <label>Update Stock</label>
        <locationX>1246</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>Loop_2.Qty_In_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Difference_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_child_part_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_child_part_count</name>
        <label>Checking child part count</label>
        <locationX>1435</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.Qty_In_Stock__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stock_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Less_Than</name>
        <label>Less Than</label>
        <locationX>1143</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qty_Utilized__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Qty_Utilized__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Difference</name>
        <dataType>Number</dataType>
        <expression>{!Loop_1.Qty_In_Stock__c} + ({!$Record__Prior.Qty_Utilized__c} - {!$Record.Qty_Utilized__c}) * {!Loop_1.Child_Part_Qty__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Difference_2</name>
        <dataType>Number</dataType>
        <expression>{!Loop_2.Qty_In_Stock__c} - ( {!$Record.Qty_Utilized__c} - {!$Record__Prior.Qty_Utilized__c}) * {!Loop_2.Child_Part_Qty__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Stock Qty After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Stock Qty After Update</label>
    <loops>
        <description>Looping through child parts</description>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>1007</locationX>
        <locationY>373</locationY>
        <collectionReference>Get_Child_Parts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Stock_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Looping through child parts</description>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>1351</locationX>
        <locationY>368</locationY>
        <collectionReference>Get_Child_Parts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Stock_3</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Parts</name>
        <label>Get Child Parts</label>
        <locationX>1146</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Less_Than</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Part_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Parts</name>
        <label>Update Child Parts</label>
        <locationX>853</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputReference>Loop_1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stock_4</name>
        <label>Update Stock</label>
        <locationX>1531</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <inputReference>Loop_2</inputReference>
    </recordUpdates>
    <start>
        <locationX>574</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_Child_Parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Part_Inventory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qty_Utilized__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Maintenance_Part__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Childs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Part_Inventory__c</objectType>
    </variables>
    <variables>
        <name>ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Part_Inventory__c</elementReference>
        </value>
    </variables>
</Flow>
