force-app/main/default/flows/Update_Stock_Qty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_stock</name>
        <label>Update stock</label>
        <locationX>650</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>Looping_Parts.Qty_In_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_child_part_qty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_child_part_qty</name>
        <label>Checking child part qty</label>
        <locationX>542</locationX>
        <locationY>635</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_Parts.Qty_In_Stock__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Part_Inventory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FinalValue</name>
        <dataType>Number</dataType>
        <expression>{!Looping_Parts.Qty_In_Stock__c} -  {!$Record.Qty_Utilized__c} * {!Looping_Parts.Child_Part_Qty__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Stock Qty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Stock Qty</label>
    <loops>
        <name>Looping_Parts</name>
        <label>Looping Parts</label>
        <locationX>447</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Child_Parts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_stock</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Parts</name>
        <label>Get Child Parts</label>
        <locationX>676</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Part_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Part_Inventory</name>
        <label>Update Part Inventory</label>
        <locationX>313</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Looping_Parts</targetReference>
        </connector>
        <inputReference>Looping_Parts</inputReference>
    </recordUpdates>
    <start>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Child_Parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Part_Inventory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qty_Utilized__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Maintenance_Part__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Childs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Part_Inventory__c</objectType>
    </variables>
    <variables>
        <name>ParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Part_Inventory__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PriorRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Maintenance_Part__c</objectType>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Maintenance_Part__c</objectType>
    </variables>
</Flow>
